extends layout

block body

    script(src='#{productRoute}/web/tmp/training.js')

    div(id="loading-global", ng-show="isLoading", data-ng-controller="LoadingGlobalController", class='ng-cloak')
        div(ng-show="supportsCss3Animation").spinner
            div(ng-repeat="bar in bars(12)", class="bar{{$index + 1}}")
        div.pageLoading
            img(ng-hide="supportsCss3Animation", src="#{productRoute}/shared/img/loading-lg.gif")
        div.modal-backdrop

    h1 #{__('Web')}
    div(ng-view)
        
    include partials/mainTable
    include partials/edit.jade
    include partials/delete.jade