div.blockLoading {
    text-align: center;
}
div.blockLoading i {
    display: inline-block;
}
div.blockLoading p {
    font-weight: bold;
}

div.inlineLoading {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 160px;
}
div.pageLoading {
    text-align: center;
    bottom: 0;
    height: 150px;
    width: 150px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
}

div.spinner {
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 50px auto;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1041;
}
.modal-backdrop {

}
div.spinner div {
    width: 24%;
    height: 24%;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-animation: fade 1s linear infinite;
    -webkit-border-radius: 100px;
    animation: fade 1s linear infinite;
    border-radius: 100px;
}
div.spinner div.bar1 {
    -webkit-transform: rotate(0deg) translate(0, -360%);
    -webkit-animation-delay: 0s;
    transform: rotate(0deg) translate(0, -360%);
    animation-delay: 0s;
}
div.spinner div.bar2 {
    -webkit-transform: rotate(30deg) translate(0, -360%);
    -webkit-animation-delay: -0.9167s;
    transform: rotate(30deg) translate(0, -360%);
    animation-delay: -0.9167s;
}
div.spinner div.bar3 {
    -webkit-transform: rotate(60deg) translate(0, -360%);
    -webkit-animation-delay: -0.833s;
    transform: rotate(60deg) translate(0, -360%);
    animation-delay: -0.833s;
}
div.spinner div.bar4 {
    -webkit-transform: rotate(90deg) translate(0, -360%);
    -webkit-animation-delay: -0.75s;
    transform: rotate(90deg) translate(0, -360%);
    animation-delay: -0.75s;
}
div.spinner div.bar5 {
    -webkit-transform: rotate(120deg) translate(0, -360%);
    -webkit-animation-delay: -0.667s;
    transform: rotate(120deg) translate(0, -360%);
    animation-delay: -0.667s;
}
div.spinner div.bar6 {
    -webkit-transform: rotate(150deg) translate(0, -360%);
    -webkit-animation-delay: -0.5833s;
    transform: rotate(150deg) translate(0, -360%);
    animation-delay: -0.5833s;
}
div.spinner div.bar7 {
    -webkit-transform: rotate(180deg) translate(0, -360%);
    -webkit-animation-delay: -0.5s;
    transform: rotate(180deg) translate(0, -360%);
    animation-delay: -0.5s;
}
div.spinner div.bar8 {
    -webkit-transform: rotate(210deg) translate(0, -360%);
    -webkit-animation-delay: -0.41667s;
    transform: rotate(210deg) translate(0, -360%);
    animation-delay: -0.41667s;
}
div.spinner div.bar9 {
    -webkit-transform: rotate(240deg) translate(0, -360%);
    -webkit-animation-delay: -0.333s;
    transform: rotate(240deg) translate(0, -360%);
    animation-delay: -0.333s;
}
div.spinner div.bar10 {
    -webkit-transform: rotate(270deg) translate(0, -360%);
    -webkit-animation-delay: -0.25s;
    transform: rotate(270deg) translate(0, -360%);
    animation-delay: -0.25s;
}
div.spinner div.bar11 {
    -webkit-transform: rotate(300deg) translate(0, -360%);
    -webkit-animation-delay: -0.1667s;
    transform: rotate(300deg) translate(0, -360%);
    animation-delay: -0.1667s;
}
div.spinner div.bar12 {
    -webkit-transform: rotate(330deg) translate(0, -360%);
    -webkit-animation-delay: -0.0833s;
    transform: rotate(330deg) translate(0, -360%);
    animation-delay: -0.0833s;
}
